<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
  </head>
  <body>
    <div id="htmlContainer" style="height: 100%">
      <div class="vert first">
        <img id="travelImg" src="../assets/travel.jpg" alt="no_travel" />
      </div>
      <div class="vert second">
        <section>
          <form onsubmit="return Client.formSubmit(e)">
            <input type="text" id="url" placeholder="City" />
            <br />
          
            <input
              type="submit"
              id="submit"
              onclick="return Client.formSubmit(e)"
              onsubmit="return Client.formSubmit(e)"
            />
        </section>
      </div>
      <div class="vert third"><section><div id="demo"></div></section></div>
      <div class="vert fourth"><section></section></div>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
