<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
  </head>
  <body>
    <div id="htmlContainer" style="height: 100%">
      <div class="vert first">
        <img id="travelImg" src="../assets/travel.jpg" alt="no_travel" />
      </div>
      <div class="vert second">
        <section>Hello</section>
      </div>
      <div class="vert third"><section></section></div>
      <div class="vert fourth"><section></section></div>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
