<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="htmlContainer" style="height: 100%">
      <div class="vert first">
        <h1 id="headerApp">Travel App</h1>
        <img id="travelImg" src="../assets/travel.jpg" alt="no_travel" />
      </div>
      <div class="vert second">
        <section>
          <form class="tripInfoForm">
            <input
              class="tripInfoInput inputSearch"
              type="search"
              id="city"
              placeholder="City??"
              required
            />
            <br />

            <input
              class="tripInfoInput inputDate"
              type="date"
              id="departDate"
              name="tripStart"
            />

            <input
              class="tripInfoInput inputSubmit"
              type="submit"
              value="Search"
            />
          </form>
          <nav id="navbarItem">
            <ul
              id="ulCovid"
              onclick="document,getElementById('id01').style.display = 'block'"
            >
              <li id="covidLi">
                COVID-19<img
                  src="../assets/sars-cov-19.jpg"
                  alt="covid_image"
                />
              </li>
            </ul>
          </nav>
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
              <header class="w3-container w3-teal">
                <span
                  onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-display-topright"
                  >&times;</span
                >
                <h2>COVID-19 DATA Australia</h2>
              </header>
              <div class="w3-container">
                <p id="cases"></p>
              </div>
              <footer class="w3-container w3-teal">
                <p>COVID-19 API<a href="https://covid19api.com"></a>/</p>
              </footer>
            </div>
          </div>
        </section>
      </div>
      <div class="vert third">
        <section>
          <div id="containerCard">
            <div id="demo"></div>
            <div id="demo1"></div>
            <div id="demo2"></div>
            <div id="demo3"></div>
            <div id="demo4"></div>
            <div id="demo5"></div>
            <div id="demo6"></div>
            <div id="demo7"></div>
            <div id="demo8"></div>
            <div id="demo9"></div>
          </div>
        </section>
      </div>
      <div class="vert fourth">
        <section id="tripSection">
          <div id="tripsListContainer">
            <label>Trips</label>
            <ul id="list"></ul>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
