.fourth {
  top: 738px;
  height: 130px;
  background-color: teal;
}

#tripsListContainer {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
ul li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
}
