* {
  padding: 0;
  margin: 0;
}

.second {
  top: 142px;
  height: 100px;
  background-color: tomato;
}

.trip_info_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.input_search,
.input_date {
  border-radius: 12px;
}

.input_submit {
  color: white;
  background: red;
}
.input_submit:hover {
  cursor: pointer;
}
