.fourth {
  top: 738px;
  height: 130px;
  background-color: teal;
}

#tripsListContainer {
  display: grid;
  place-items: center;
}
label {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
ul {
  list-style-position: inside;
}
ul li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
}
