* {
  padding: 0;
  margin: 0;
}

.second {
  top: 142px;
  height: 100px;
  background-color: tomato;
}

.tripInfoForm {
  position: absolute;
  margin: 5px;
  left: 0;
  width: 50%;
  height: 90%;
}
.inputSearch,
.inputDate {
  border-radius: 12px;
}

.inputSubmit {
  color: white;
  background: dodgerblue;
  font-size: 11px;
}
.inputSubmit:hover {
  cursor: pointer;
}
#navbarItem {
  position: absolute;
  width: 50%;
  background: lavender;
  right: 0;
  height: 100%;
}
#ulCovid {
  position: absolute;
  background-color: green;
  border-radius: 12px;
  width: auto;
  height: 72px;
}
#covidLi {
  list-style-type: none;
  color: #f4f4f4;
  font-size: 12px;
}
